.header {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 24px;
  }
}
.container {
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.logo {
  margin-right: 16px;
}
.location {
  display: flex;
  margin-right: 117px;
  &__title {
    margin-left: 8px;
  }
}

.search {
  position: relative;

  &__input {
    @media screen and (min-width: $desktop) {
      width: 592px;
      height: 48px;
      background-color: #f1f1f1;
      border: 1px solid #f1f1f1;
      border-radius: 100px;
    }
  }
  &__img {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
