header.header 
  div.logo 
    a.logo__link(href="#") 
      img(src="../../../img/logo.png" alt="Logo")
  .location 
    p.location__title Город или регион 
    img(src="../../../img/svg/city.svg" alt="Logo")
